<header>
    <div class="header-nav">
      <a href="/">BLOG</a>
     
      <p>Welcome, Guest</p>

     
      <ul>
        <li><a href="/users/list">Articles</a></li>
        <li><a href="/login">Log in</a></li>
      </ul>
    </div>
    <p>My Blog project</p>
  </header>